* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 400px;
    margin: 0 auto;
}

header {
    text-align: center;
    margin: 50px 0 30px;
}

header::after {
    display: inline-block;
    content: '';
    width: 380px;
    height: 2px;
    background-color: #3737c4;
    margin-top: 30px;
}

h1 {
    padding-bottom: 20px;
}

#next_month,
#prev_month {
    border: none;
    background-color: transparent;
    font-size: 25px;
    color: #3737c4;
    padding: 20px;
}

#current_month {
    margin: 0 10px;
    font-size: 30px;
    color: #3737c4;
}

#calendario li {
    margin: 15px 0;
    list-style-type: none;
    padding-left: 125px
}

#calendario li.vacation {
    color: #3737c4;
    font-weight: bold;
}
