* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}

header {
    text-align: center;
    width: 1000px;
    margin: 50px auto;
}

header::after {
    display: inline-block;
    content: '';
    width: 1000px;
    height: 2px;
    background-color: #3737c4;
    margin-top: 30px;
}

h1 {
    padding-bottom: 20px;
}

.button_container {
    display: inline-block;
    width: 65px;
}

#prev_month {
    display: none;
}

#next_month,
#prev_month {
    border: none;
    background-color: transparent;
    font-size: 25px;
    color: #3737c4;
    padding: 20px;
}

#current_month {
    font-size: 40px;
    color: #3737c4;
    display: inline-block;
    width: 250px;
}

#days_label_container {
    width: 1000px;
    margin: 0 auto;
}

#days_label_container span {
    text-transform: uppercase;
    font-weight: bold;
    color: #3737c4;
    display: inline-block;
    width: 139px;
    margin-bottom: 15px;
    text-align: center;
}

#calendario {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.day_box {
    width: calc(100% / 7);
    height: 100px;
    border: 1px solid #3737c4;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.day_box.vacation {
    color: #3737c4;
    font-weight: bold;
    background-color: #cae6ff;
}

.day_box.vacation span:last-child {
    text-align: right;
}

.holiday {
    font-size: 16px;
}
